

<!-- Grunddelen i header -->
<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Recipe Book</a>
        </div>
<!-- Länkarna. Först använde vi oss av ngIf för att navigera, nu routerLink-->
<!-- routerLinkActive funkar inte pga nyare bootstrap har provat, provade ett annat sätt men får inte markerade rutor men markerad text-->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li  [class.active]="homeLink.classList.contains('active')" >
                  <a  #homeLink routerLink="/recipes" class="nav-link" routerLinkActive="active" >Recipes</a></li>
                <li  [class.active]="homeLink.classList.contains('active')">
                  <a routerLink="/shopping-list" class="nav-link" routerLinkActive="active" >Shopping List</a></li>

<!-- Jimis navbar -->
<!-- inga # så sidan laddas om -->
<!-- data-bs-toggle och aria-expanded "false" blir till show är det som gör att drop down funkar -->

                <li class="nav-item dropdown">

                  <a
                    class="dropdown-toggle nav-link"
                    id="navbarDropdown"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="cursor: pointer;"
                    >
                    Manage <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuManage">
                    <li >
                      <a class="dropdown-item"
                      style="cursor: pointer;"
                      (click)="onSaveData()">Save Data</a>
                    </li>
                    <li >
                      <a class="dropdown-item"
                      style="cursor: pointer;"
                      (click)="onFetchData()">Fetch Data</a></li>
                  </ul>
                </li>
              </ul>
        </div>
    </div>
</nav>
